
/* Reset some default styles */
body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

/* Set up the pastel color scheme */
body {

    font-family: 'Georgia', serif;
    /* 'Georgia', serif;   */
    background-color: #f0e7de;
    color: #54281d;
    /*  #ff6879 red light */
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

header {
    font-family: 'Playfair Display', serif;
    /* font-family: 'Georgia', serif;  */
    background-color: #d4b89f;
    /* Light Purple (light brown #e9cbaf) */
    padding: 10px 0;
    text-align: center;
    font-size: 150%;
    /* 3 topics on the page*/
    font-weight: bold;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}


nav a {
    text-decoration: none;
    color: #66473a;
    /* purple text color  ( #b26942 brown) */
    transition: color 0.2s linear;
    /* Add transition for smooth color change */
}


nav a:hover {
    color: #54281d;
    /* Hover color (#e95466) */
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #d4b89f;
    /* Light Pink */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.section {
    margin: 40px 0;
    padding: 0 16px;
}

/* Add more CSS styles as needed for your content and projects section */

.social_media {
    position: relative;
    bottom: -70px;
    text-align: center;
    cursor: pointer;
}

.social_media i {
    padding: 0 5px;
    color: #54281d;
    /*  #ff6879 red light */
    opacity: 0.6;
    font-size: 20px;
    transition: all 0.2s linear;
}

.social_media i:hover {
    opacity: 1;
}

.language_button {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
}


.language_button div {
    width: 120px;
    display: flex;
    justify-content: space-between;
}

/* Style the buttons */
.language_button button {
    color: #54281d;
    border: 1px solid #54281d;
    border-radius: 10px;
    cursor: pointer;
}



/* Hide bullet points in the list items and change text color */
.clickMylink ul {
    padding: 0;
    /* Remove any default padding or margin */
}

.clickMylink li {
    list-style: none;
    /* Hide bullet points */
    color: #54281d;
    /* Change text color */
}

.clickMylink li a {
    color: #54281d;
    /* Change text color */
    text-decoration: none;
    /* Remove underline */
    transition: color 0.2s linear;
    /* Add transition for smooth color change */
}

.clickMylink li a:hover {
    color: #8d502e;
    /* Hover color (#4f0aaf) */
}


.photo-container {
    padding-top: 20px;
    opacity: 0;
    /* Initially, set the opacity to 0 to hide the photo */
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    transition: opacity 4s ease;
    /* Apply both fade-in and movement transition */

}

.photo-container img {
    max-width: 35%;
    /* Ensure the image doesn't exceed its container */
    border-top-left-radius: 250px;
    /* No rounding on top-left */
    border-bottom-left-radius: 5px;
    /* No rounding on bottom-left */
    border-top-right-radius: 250px;
    /* Add rounding only to top-right */
    border-bottom-right-radius: 5px;
    /* Add rounding only to bottom-right */
}

.show-photo {
    opacity: 1;
}

.thankyouPhoto {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.thankyouPhoto img{
    max-width: 60%;
    opacity: 50%;

}

.liveText {
    /* width: 100%;
    height: 100vh; */
    color: #8d502e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.liveText h3 {
    font-size: 350%;
    /* font-weight: 600; */
}

span{
    color: #54281d;
}

/* For screens smaller than 768px (e.g., mobile devices) */ 
/* panne */
@media screen and (max-width: 768px) {
    header {
        padding: 10px 0;
    }

    nav ul {
        text-align: center;
        padding-left: 0;
    }

    nav li {
        /* display: block; */
        margin: 10px 0;
    }

    .container {
        padding: 20px;
    }

    .photo-container img {
        max-width: 90%;
    }

    .thankyouPhoto img{
        max-width: 100%;
        opacity: 50%;
        z-index: -1;
    }
    
    .liveText h3 {
        font-size: 200%;
        text-align: center;
        /* height: 270.73px; */

    }
}